/* Preset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
    --primary-color: #007BFF;
    --primary-color-light: #A5E0FE;
    --red-color: #ED2762;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #808080;
    --rounded-corner: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none;
}

/* Container Class */
.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* Diagram Section */
.diagram {
    margin: 50px 0;
}
.row {
    border: 1px solid gray;
    height: 150px;
    display: flex;
    align-items: center;
}
.title-container {
    width: 40px;
    height: 100%;
    background-color: var(--primary-color);
    position: relative;
}
.title-container .title {
    color: white;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.inner-row {
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 100px;
}
.inner-row .btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 0.8rem 1rem;
    position: relative;
    max-width: 150px;
    text-align: center;
}
.third-row .fa-chevron-left {
    color: var(--black-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    font-size: 2rem;
}
.fifth-row .fa-chevron-down {
    color: var(--black-color);
    position: absolute;
    bottom: calc(100% - 0.5rem);
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
}
.line1 {
    display: block;
    width: 515px;
    height: 5px;
    background-color: var(--black-color);
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -2;
}
.btn-line2 {
    position: relative;
}
.line2 {
    display: block;
    width: 5px;
    height: 270px;
    background-color: var(--black-color);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.line-text {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 0 0.5rem;
    position: absolute;
    bottom: calc(100% + 135px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}

/* Rotate Button CSS */
.btn.btn-rotate {
    width: 100px;
    background-color: transparent;
    position: relative;
}
.btn-rotate::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 40px solid var(--red-color);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.btn-rotate::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    border-top: 40px solid var(--red-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* Design for First Row */
.first-row .title-container {
    background-color: var(--primary-color-light);
}
.first-row .title-container .title {
    color: var(--primary-color);
}
.first-row .inner-row .btn {
    background-color: var(--primary-color-light);
    color: var(--black-color);
    border-radius: var(--rounded-corner);
}

/* Design for Fourth Row */
.fourth-row .inner-row {
    gap: 320px;
}

/* Design for Fifth Row */
.fifth-row .inner-row {
    justify-content: flex-end;
}

/* Responsive CSS */
@media screen and (max-width: 1199px) {
    .inner-row {
        gap: 50px;
    }
    .line1 {
        width: 385px;
    }
    .fourth-row .inner-row {
        gap: 220px;
    }
}
@media screen and (max-width: 991px) {
    .third-row .inner-row {
        gap: 30px;
    }
    .third-row .inner-row .btn {
        width: 85px;
    }
    .btn.btn-rotate {
        margin-left: 10px;
    }
    .fourth-row .inner-row {
        gap: 45px;
    }
    .line1 {
        width: 295px;
    }
}
@media screen and (max-width: 767px) {
    .diagram {
        margin: 15px 0;
    }
    .row {
        flex-direction: column;
        height: initial;
    }
    .title-container {
        width: 100%;
        height: 50px;
    }
    .title-container .title {
        transform: none;
        position: static;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    .inner-row {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .line1, .line2, .line-text, .third-row .fa-chevron-left, .fifth-row .fa-chevron-down {
        display: none;
    }
    .third-row .inner-row .btn {
        width: 150px;
    }
    .btn.btn-rotate {
        margin-left: 0;
        margin-bottom: 15px;
    }
    
    /* New Lines and Arrows for mobile */
    .third-row .for-mobile.fa-chevron-up {
        color: var(--black-color);
        font-size: 2rem;
        position: absolute;
        top: calc(100% - 6px);
        left: 50%;
        transform: translateX(-50%);
    }
    .third-row .line1-for-mobile {
        display: block;
        width: 5px;
        height: 100px;
        background-color: var(--black-color);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -4;
    }
    .third-row .btn.btn-rotate .for-mobile.fa-chevron-left {
        display: block;
        left: calc(100% - 0.5rem);
    }
    .third-row .btn.btn-rotate .line3-for-mobile {
        display: block;
        width: 50px;
        height: 5px;
        background-color: var(--black-color);
        position: absolute;
        left: calc(100% - 0.5rem);
        top: 50%;
        transform: translateY(-50%);
    }
    .third-row .btn.btn-rotate .line4-for-mobile {
        display: block;
        width: 5px;
        height: 508px;
        background-color: var(--black-color);
        position: absolute;
        left: calc(100% + 37px);
        top: 50%;
        z-index: 5;
    }
    .line-text-for-mobile {
        display: block;
        background-color: var(--white-color);
        color: var(--black-color);
        padding: 0 0.5rem;
        transform: rotate(-90deg);
        position: absolute;
        top: 50%;
        left: -20px;
    }
    .fifth-row .for-mobile.fa-chevron-left {
        color: var(--black-color);
        font-size: 2rem;
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
    .fifth-row .line2-for-mobile {
        display: block;
        width: 42px;
        height: 5px;
        background-color: var(--black-color);
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

/* Hide Icon and Lines in Larger Devices */
@media screen and (min-width: 768px) {
    .for-mobile.fa-chevron-up, .line1-for-mobile, .third-row .btn.btn-rotate .line3-for-mobile, .third-row .btn.btn-rotate .for-mobile.fa-chevron-left, .third-row .btn.btn-rotate .line4-for-mobile, .line-text-for-mobile, .fifth-row .for-mobile.fa-chevron-left {
        display: none;
    }
}